.profile__edit-button {
    position: absolute;
    top: 16px;
    right: -40px;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/pencil.svg);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        top: 8px;
        right: -27px;
        width: 18px;
        height: 18px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}